app = "personal-accountability-reminder-tg-bot"
primary_region = "bom"

[env]
  NODE_ENV = "production"
  TZ = "Asia/Kolkata"

[[vm]]
  size = "shared-cpu-1x"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"    # allow machine to sleep
  auto_start_machines = true     # auto-wakeup on request
  min_machines_running = 0       # no always-on machine
  processes = ["app"]
