app = "personal-accountability-reminder-tg-bot"
primary_region = "bom"

[env]
  NODE_ENV = "production"
  TZ = "Asia/Kolkata"

[[vm]]
  size = "shared-cpu-1x"

[deploy]
  min_machines_running = 1
  strategy = "immediate"
